
<section class="header">
  {{> userheaderpartial}}
  </section>

  <section class="menu-functionalities">
    <section>
    {{> selectionpartial}}
    </section>

<section data-id="{{oneTodo.id}}" id="section-one-todo">

  {{!-- <h2 class="one-title">{{oneTodo.title}}</h2> --}}
<p><input type="text" id="edit-todo-title" value="{{oneTodo.title}}" /></p>
<a id="edit-button-todo-title" href="/todos/{{oneTodo.id}}">🖋</a>

<div class="content">
{{#each oneTodo.content}}
<article>
{{!-- <li class="one-task-edit-page">{{this.task}}</li> --}}
<p>
  <a class="delete-button-task" href="/todos/{{../oneTodo.id}}/{{this.id}}">○</a>
  <input type="text" value="{{this.task}}" />
  <a class="edit-button" href="/todos/{{../oneTodo.id}}/{{this.id}}">🖋</a>
</p>



</article>

{{/each}}

</div>

<ul id="tasks-edit-page"></ul>
<input type="text" data-todo-id="{{oneTodo.id}}" name="task-edit-page" id="new-task-input-edit-page" placeholder="Add a task">
<input type="button" id="add-task-edit-page" value="+"></input>



</section>

        <section data-id="{{oneTodo.id}}" id="outils-one-todo">Outils
<a href="/todos" id="button-all-todo">ALL TO DOs</a>
<a href="/todos" id="delete-one-todo"><img id="trashbin-image-todos" src="/images/trash-bin.png", alt="Trash bin"/></a>

        </section>

</section>

<template id="task-template">
  <article>
<p>○<input type="text" value="" />
<a class="edit-button" href="/todos/{{oneTodo.id}}/">🖋</a>
</p>
{{!-- <a class="delete-button-task" href="/todos/{{../oneTodo.id}}/{{this.id}}">delete</a> --}}

</article>
</template>

<section></section>