
<section class="header">
  {{> userheaderpartial}}
  </section>

  <section class="menu-functionalities">
    <section>
    {{> selectionpartial}}
    </section>

<section data-id="{{oneTodo.id}}" id="section-one-todo">

  {{!-- <h2 class="one-title">{{oneTodo.title}}</h2> --}}
<p><input name="one-todo-title" type="text" id="edit-todo-title" value="{{oneTodo.title}}" maxlength="35"/><a id="edit-button-todo-title" href="/todos/{{oneTodo.id}}">🖋</a></p>


<div class="content">
{{#each oneTodo.content}}
<article>
{{!-- <li class="one-task-edit-page">{{this.task}}</li> --}}
<p>
  <a class="delete-button-task" href="/todos/{{../oneTodo.id}}/{{this.id}}">○</a>
  <input class="edit-input-task" type="text" value="{{this.task}}" maxlength="35" />
  <a class="edit-button" href="/todos/{{../oneTodo.id}}/{{this.id}}">🖋</a>
</p>



</article>

{{/each}}

</div>

<div class="add-task-div">
<input class="edit-input-task" type="text" data-todo-id="{{oneTodo.id}}" name="task-edit-page" id="new-task-input-edit-page" placeholder="Add a task here" maxlength="35">
<input name="plus-input" type="button" id="add-task-edit-page" value="+"></input>
</div>


</section>

        <section data-id="{{oneTodo.id}}" id="outils-one-todo">

<a href="/todos" id="delete-one-todo"><img id="trashbin-image-todos" src="/images/trash-bin.png", alt="Trash bin"/></a>

<div class="class-button-all-todo">
<a href="/todos" id="button-all-todo">All to do</a>
</div>

        </section>

</section>

<template id="task-template">
  <article>
<p>○<input type="text" value="" />
<a class="edit-button" href="/todos/{{oneTodo.id}}/">🖋</a>
</p>
{{!-- <a class="delete-button-task" href="/todos/{{../oneTodo.id}}/{{this.id}}">delete</a> --}}

</article>
</template>

<section></section>